<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить книгу</title>
</head>
<body>
    <h1>Добавить книгу</h1>
    <div>
        <form action="/library/add_book/create" method="POST">
            <label for="title">Название книги:</label>
            <input type="text" id="title" name="title" required>
            <br>
            <label for="description">Описание:</label>
            <textarea id="description" name="description"></textarea>
            <br>
            <button type="submit">Добавить книгу</button>
        </form>
    <div>
</body>
</html>